* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.buttons {
    background-color: blue;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

h1{
    color: blueviolet;
}

h3{
    color: crimson;
}

h4{
    color: rgb(120, 196, 196);
}

#result {
    color: blueviolet;
}